<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E'lonlar+ || Nodirbek ADU</title>
    <!-- font CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <!-- root CSS -->
    <link rel="stylesheet" href="{% static 'root.css' %}">
    <!-- standart CSS -->
    <link rel="stylesheet" href="{% static 'standart.css' %}">
    <!-- hard CSS  -->
   <link rel="stylesheet" href="{% static 'addbox.css' %}">
</head>
<body>
  
<section class="mavzu">

  <div class="popup-box">
    <div class="popup">
      <div class="content">
        <header>
          <p></p>
          <i class="fa-solid fa-xmark"></i>
        </header>

        <form method="post">{% csrf_token %}
          <div class="row title">
            <label >Nomi </label>
            <input name="nom" type="text" placeholder="E'lon nomi ">
          </div>
          <div class="row description">
            <label > Ta'rif</label>
            <textarea style="resize: none;" name="tarif" cols="30" rows="3"></textarea>
          </div>  
          <div class="row description">
            <label> Boshlanish Vaqti</label>
            <input type="date" name="vaqt" >

           </div>
         
          <button>Kiritish</button>
        </form>
      </div>
    </div>
  </div>  
  <div class="wrapper">
    <li class="add-box">
      <div class="icon"><i class="fa-solid fa-plus"></i></div>
      <p >E'lonlar</p>
    </li>
      {% for i in elonlar %}
	<li class="note">
		<div class="details">
			<p> {{i.nom}}</p>
		     <span>{{i.tarif}}</span>

		</div>
		<div class="bottom-content">
			<span>{{i.boshlanish_vaqti}}</span>
			<div class="settings">
				<i  class="fa-solid fa-ellipsis"></i>
				<ul class="menu">
					<li class="edit" ><i class="fa-solid fa-pen " ></i>Edit</li>
					<a href="/asosiy/elonSaytDell/{{i.id}}"><li><i class="fa-solid fa-trash-can"></i>Delete</li></a>
				</ul>
			</div>
		</div>
	</li>
 
{% endfor %}
  
</div>
     <a href="/asosiy/IndexAdmin/">⬅️Orqaga</a>
</section>

<script src="{% static 'addSection.js' %}"></script>




</body>
</html>