<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>File Upload JavaScript with Progress Ba | CodingNepal</title>

  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

  <!-- root CSS -->
  <link rel="stylesheet" href="{% static 'root.css' %}">
  <!-- standart CSS -->
  <link rel="stylesheet" href="{% static 'standart.css' %}">
  <link rel="stylesheet" href="{% static 'hujjat11.css' %}">


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>

<body>
  <nav class="navbar">
		<div class="logo_item">
		  <i class="fa-solid fa-bars" id="sidebarOpen"></i>
		  <img src="images/logo.png" alt=""></i>NodirbekADU
		</div>
		<div class="search_bar">
			 <p>Ustozlar oynasi</p>
		</div>
		<div class="navbar_content">
		  <i class="bi bi-grid"></i>
		  <i class='bx' id="darkLight"></i>
		  <i class='bx bx-bell' ></i>
		  <img src="images/profile.jpg" alt="" class="profile" />
		</div>
	  </nav>
	  <!-- sidebar -->
	  <nav class="sidebar">
		<div class="menu_content">
		  <ul class="menu_items">
			<div class="menu_title menu_dahsboard"></div>
			<!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
			<!-- start -->
			<li class="item">
				<a href="/asosiy/IndexAdmin" class="nav_link">
				  <span class="navlink_icon">
					<i class="fa-solid fa-chart-line"></i>
          
				  </span>
				  <span class="navlink"> Dashboard</span>
				</a>
			  </li>
        <li class="item">
          <a href="/asosiy/kurslar" class="nav_link">
            <span class="navlink_icon">
           <i class="fa-solid fa-book-open-reader"></i>             </span>
            <span class="navlink"> Kurslar</span>
          </a>
          </li>
        <li class="item">
          <a href="/asosiy/guruhlar" class="nav_link">
            <span class="navlink_icon">
            <i class="fa-solid fa-people-group"></i>                  </span>
            <span class="navlink"> Guruhlar</span>
          </a>
          </li>
			  <li class="item">
				<a href="/asosiy/sorov" class="nav_link">
				  <span class="navlink_icon">
					<i class="fa-brands fa-stack-overflow"></i>                </span>
				  <span class="navlink">So'rov</span>
				</a>
			  </li>
        <li class="item">
          <a href="/asosiy/kutayotganlar" class="nav_link">
            <span class="navlink_icon">
              <i class="fa-solid fa-eye"></i>                 </span>
            <span class="navlink">Kutayotganlar</span>
          </a>
        </li>
			  <li class="item">
          <a href="/asosiy/sinov" class="nav_link">
            <span class="navlink_icon">
              <i class="fa-solid fa-spell-check"></i>               </span>
            <span class="navlink">Sinovdagilar</span>
          </a>
        </li>
			  <li class="item">
				<a href="/asosiy/talabalar" class="nav_link">
				  <span class="navlink_icon">
            <i class="fa-solid fa-people-group"></i>                  </span>
				  <span class="navlink">Talabalar</span>
				</a>
			  </li>
        <li class="item">
          <a href="/asosiy/davomat" class="nav_link">
            <span class="navlink_icon">
              <i class="fa-solid fa-bell-slash"></i>                </span>
            <span class="navlink">Davomat</span>
          </a>
          </li>
          <li class="item">
            <a href="/asosiy/hujat" class="nav_link">
              <span class="navlink_icon">
                <i class="fa-solid fa-file-pdf"></i>                </span>
              <span class="navlink">Hujjat</span>
            </a>
            </li>
            <li class="item">
              <a href="/asosiy/teacher"  class="nav_link">
                <span class="navlink_icon">
                  <i class="fa-solid fa-chalkboard-user"></i>                </span>
                <span class="navlink">Teacher</span>
              </a>
              </li>
              <li class="item">
                <a href="/asosiy/dars" class="nav_link">
                  <span class="navlink_icon">
                    <i class="fa-solid fa-graduation-cap"></i>               </span>
                  <span class="navlink">Dars</span>
                </a>
                </li>
                <li class="item">
                  <a href="./dars.html" class="nav_link">
                    <span class="navlink_icon">
                      <i class="fa-solid fa-sack-dollar"></i>              </span>
                    <span class="navlink">Moliya</span>
                  </a>
                  </li>
		  </ul>
	
		  <!-- Sidebar Open / Close -->
		  <div class="bottom_content">
			<div class="bottom expand_sidebar">
			  <span> Expand</span>
			  <i class="fa-solid fa-right-to-bracket"></i>
			</div>
			<div class="bottom collapse_sidebar">
			  <span> Collapse</span>
			  <i class="fa-solid fa-arrow-left"></i>
			</div>
		  </div>
		</div>
	  </nav>
  <div class="wrapper">
    <header>Hujjatlarni Saqlang</header>
    <form method="post"> {% csrf_token %}


        <input class="file-input" type="file" name="file" >
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Yuklang</p>

      <input class="file_name" name="nom" placeholder="fayl nomi" type="text">
      <button type="submit">Yuklash</button>
    </form>
{% for i in hujat %}
    <section class="progress-area">
        <li class="row">
            <div class="content upload">
              <i class="fas fa-file-alt"></i>
              <div class="details">
                <span class="name"> FAyl Nomi • Uploaded</span>
                <span class="size"></span>
              </div>
            </div>
            <i class="fas fa-check"></i>
          </li>
    </section>
       {% endfor %}
    <section class="uploaded-area"></section>
  </div>


<script src="{% static '/standart.js' %}"></script>
</body>
</html>