<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- standart CSS  -->
    <link rel="stylesheet" href="{% static 'standart.css' %}">
    <!-- root css -->
    <link rel="stylesheet" href="{% static 'root.css' %}">
    <link
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
      rel="stylesheet"
    />
     

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <link rel="stylesheet" href="{% static 'styleexem.css' %}">

</head>
<body>
    

  <section>

  
    <nav class="navbar">
        <div class="logo_item">
          <i class="fa-solid fa-bars" id="sidebarOpen"></i>
          <img src="/media/mm2n.png" alt=""></i>
             <p>Nodirbek EDU</p>
        </div>
        <div class="center_bar">
          <p>E'lonlar</p>
        </div>
        <div class="navbar_content">
          <i class="bi bi-grid"></i>
          <i class='bx' id="darkLight"></i>
          <!-- <i class='bx bx-bell' ></i> -->

        </div>
      </nav>
      
     
      <nav class="sidebar">
        <div class="menu_content">
     
          <ul class="menu_items">
            <div class="menu_title menu_dahsboard"></div>
          
            <li class="item">
              <a href="/" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-home-alt"></i>
                </span>
                <span class="navlink">Bosh menyu</span>
              </a>
            </li>

          </ul>
          <ul class="menu_items">
            <div class="menu_title menu_editor"></div>
         
            
            <li class="item">
              <a href="/yangiliklar" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bxs-magic-wand"></i>
                </span>
                <span class="navlink">Yangliklar</span>
              </a>
            </li>
           

            <li class="item">
              <a href="/imtihonlar" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-filter"></i>
                </span>
                <span class="navlink">E'lonlar</span>
              </a>
            </li>
           
          </ul>
          <ul class="menu_items">

            <li class="item">
              <a href="/sorovJonatish" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-medal"></i>
                </span>
                <span href="" class="navlink">Kursga yozilish</span>
              </a>
            </li>
         
            <li class="item">
              <a href="#" class="nav_link">
                <span class="navlink_icon">
                  <i class="bx bx-layer"></i>
                </span>
                <span class="navlink">Takliflar</span>
              </a>
            </li>
          </ul>
         
          <div class="bottom_content">
            <div class="bottom expand_sidebar">
              <span> Expand</span>
              <i class='bx bx-log-in' ></i>
            </div>
            <div class="bottom collapse_sidebar">
              <span> Collapse</span>
              <i class='bx bx-log-out'></i>
            </div>
          </div>
        </div>
      </nav>


    <div class="ag-format-container">
        <div class="ag-courses_box">
{% for i in elonlar %}
          <div class="ag-courses_item">
            <a href="" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
              <div class="ag-courses-item_title">
                {{i.nom}}
                        </div>
             <p class="text "> {{i.tarif}}</p>
             
              <div class="ag-courses-item_date-box">
                Boshlanish sanasi:
                <span class="ag-courses-item_date">
                  {{i.boshlanish_vaqti}}
                </span>
              </div>
            </a>
          </div>

      {% endfor %}
        </div>
      </div>


  </section>
   </body>
   
   <script src="{% static 'standart.js' %}"></script>


</html>