<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'styleform.css' %}">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

   <title>ADUcation</title>
</head>
<body>
    <div class="container">
        <header>Kursga yozilish </header>
        <form method="post">{% csrf_token %}
            <div class="form first">
                <div class="details personal">
                    <span class="title">O'quvchining shaxsiy ma'lumotlari</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Ism  </label>
                            <input type="text" placeholder="Ism " required name="ism">
                        </div>
                        <div class="input-field">
                            <label>Familya</label>
                            <input type="text" placeholder="Familya" name="fam">
                        </div>


                        <div class="input-field">
                            <label>telefon Raqami</label>
                            <input type="tel" placeholder="telefon raqami" value="+998" required name="tel">
                        </div>

                    </div>
  
                </div>

                <div class="details ID">
                    <span class="title">Kurs ma'lumotlari</span>

                    <div class="fields">
                        <div class="input-field">
                           
                            <label>Kursni tanlang</label>
                            <select required name="kurs">
                                <option disabled selected>Kursni tanlang</option>
                                {% for i in kurslar %}
                                <option value="{{i.id}}">{{i.nom}}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="input-field">
                            <label>.</label>
                            <input disabled type="text" placeholder=". . .">
                        </div>

                        <div class="input-field">
                            <label>. </label>
                            <input  disabled type="text" placeholder=". . .">
                        </div>

                    </div>

                    <button class="sumbit">
                        <span class="btnText">Submit</span>
                        <i class="uil uil-navigator"></i>
                    </button>
                </div> 
            </div>
        </form>
    </div> 

    <script src="{% static 'script.js' %}"></script>
</body>
</html>