<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kutish</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <!-- root CSS -->
    <link rel="stylesheet" href="{% static 'root.css' %}">
    <!-- standart CSS -->
    <link rel="stylesheet" href="{% static 'standart.css' %}">

   <!-- table CSS -->
    <link rel="stylesheet" href="{% static 'table.css' %}">

    <link rel="stylesheet" href="{% static 'admin_form.css' %}">
</head>
<body>
  <nav class="navbar">
		<div class="logo_item">
      <i class="fa-solid fa-bars" id="sidebarOpen"></i>
		  <img src="images/logo.png" alt=""></i>NodirbekADU
		</div>
		<div class="search_bar">
			 <p>Ustozlar oynasi</p>
		</div>
		<div class="navbar_content">
		  <i class="bi bi-grid"></i>
		  <i class='bx' id="darkLight"></i>
		  <i class='bx bx-bell' ></i>
		  <img src="images/profile.jpg" alt="" class="profile" />
		</div>
	  </nav>
	  <!-- sidebar -->
	  <nav class="sidebar">
		<div class="menu_content">
		  <ul class="menu_items">
			<div class="menu_title menu_dahsboard"></div>
			<!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
			<!-- start -->
			<li class="item">
				<a href="/asosiy/IndexAdmin" class="nav_link">
				  <span class="navlink_icon">
					<i class="fa-solid fa-chart-line"></i>
          
				  </span>
				  <span class="navlink"> Dashboard</span>
				</a>
			  </li>
        <li class="item">
          <a href="/asosiy/kurslar" class="nav_link">
            <span class="navlink_icon">
           <i class="fa-solid fa-book-open-reader"></i>             </span>
            <span class="navlink"> Kurslar</span>
          </a>
          </li>
        <li class="item">
          <a href="/asosiy/guruhlar" class="nav_link">
            <span class="navlink_icon">
            <i class="fa-solid fa-people-group"></i>                  </span>
            <span class="navlink"> Guruhlar</span>
          </a>
          </li>
			  <li class="item">
				<a href="/asosiy/sorov" class="nav_link">
				  <span class="navlink_icon">
					<i class="fa-brands fa-stack-overflow"></i>                </span>
				  <span class="navlink">So'rov</span>
				</a>
			  </li>
        <li class="item">
          <a href="/asosiy/kutayotganlar" class="nav_link">
            <span class="navlink_icon">
              <i class="fa-solid fa-eye"></i>                 </span>
            <span class="navlink">Kutayotganlar</span>
          </a>
        </li>
			  <li class="item">
          <a href="/asosiy/sinov" class="nav_link">
            <span class="navlink_icon">
              <i class="fa-solid fa-spell-check"></i>               </span>
            <span class="navlink">Sinovdagilar</span>
          </a>
        </li>
			  <li class="item">
				<a href="/asosiy/talabalar" class="nav_link">
				  <span class="navlink_icon">
            <i class="fa-solid fa-people-group"></i>                  </span>
				  <span class="navlink">Talabalar</span>
				</a>
			  </li>
        <li class="item">
          <a href="/asosiy/davomat" class="nav_link">
            <span class="navlink_icon">
              <i class="fa-solid fa-bell-slash"></i>                </span>
            <span class="navlink">Davomat</span>
          </a>
          </li>
          <li class="item">
            <a href="/asosiy/hujat" class="nav_link">
              <span class="navlink_icon">
                <i class="fa-solid fa-file-pdf"></i>                </span>
              <span class="navlink">Hujjat</span>
            </a>
            </li>
            <li class="item">
              <a href="/asosiy/teacher" class="nav_link">
                <span class="navlink_icon">
                  <i class="fa-solid fa-chalkboard-user"></i>                </span>
                <span class="navlink">Teacher</span>
              </a>
              </li>
              <li class="item">
                <a href="/asosiy/dars" class="nav_link">
                  <span class="navlink_icon">
                    <i class="fa-solid fa-graduation-cap"></i>               </span>
                  <span class="navlink">Dars</span>
                </a>
                </li>
                <li class="item">
                  <a href="./dars.html" class="nav_link">
                    <span class="navlink_icon">
                      <i class="fa-solid fa-sack-dollar"></i>              </span>
                    <span class="navlink">Moliya</span>
                  </a>
                  </li>
		  </ul>
	
		  <!-- Sidebar Open / Close -->
		  <div class="bottom_content">
			<div class="bottom expand_sidebar">
			  <span> Expand</span>
			  <i class="fa-solid fa-right-to-bracket"></i>
			</div>
			<div class="bottom collapse_sidebar">
			  <span> Collapse</span>
			  <i class="fa-solid fa-arrow-left"></i>
			</div>
		  </div>
		</div>
	  </nav>
    <main class="table">
        <section class="table__header">
            <h1>Kutayotgan talabalar</h1>

            <div class="add">
                <i class="fa-solid fa-plus"></i>
            </div>
                
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"><i class="fa-solid fa-download"></i></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div>
            </div>
        </section>
        <section class="table__body">
            <table id="customers_table">
                <thead>
                    <tr>
                        <th> ism <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Familya <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Telefon raqami <span class="icon-arrow">&UpArrow;</span></th>
<!--                        <th>telegram<span class="icon-arrow">&UpArrow;</span></th>-->
<!--                        <th> qulay vaqti<span class="icon-arrow">&UpArrow;</span></th>-->
                        <th>talabgorligi<span class="icon-arrow">&UpArrow;</span></th>
<!--                        <th>O'qituvchi<span class="icon-arrow">&UpArrow;</span></th>-->
                        <th>Batafsil...<span class="icon-arrow">&UpArrow;</span></th>
                        <th>O'chirish</th>

                    </tr>
                </thead>
                <tbody>
                {% for i in kutayotganlar %}
                    <tr>
                        <td class="name"> {{i.sorov_fk.ism}} </td>
                        <td class="fam"> {{i.sorov_fk.fam}}</td>
                        <td class="tel"> {{i.sorov_fk.tel}} </td>
<!--                        <td class="tel"> @asdf123 </td>-->
<!--                        <td>  tushlikgacha</td>-->
                        <td>
                            <p>{{i.sorov_fk.kurs_fk}} </p>
                        </td>
<!--                        <td>Alijon Valiyev</td>-->
                        <td> {{i.batafsil}} </td>
                        <td><a href="/asosiy/kutushdelete/{{i.id}}"><img src="/media/user.png"></a> </td>
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
            
          </section>
         
    </main>   
     <section>
        <div class="form_select">
            
        </div>
     </section>
<!--    <section class="container hidden ">-->
<!--        <i class="beack fa-solid fa-circle-left fa-xl"></i>-->
<!--      <form action="#">-->
<!--        <div class="form first">-->
<!--            <div class="details personal">-->
<!--                <span class="title">Personal Details</span>-->
<!--                <div class="fields">-->
<!--                    <div class="input-field ">-->
<!--                        <label>Ism</label>-->
<!--                        <input class="input_ism" type="text" placeholder="Ism" required>-->
<!--                    </div>-->
<!--                    <div class="input-field">-->
<!--                        <label>Tugulgan sana</label>-->
<!--                        <input class="input_yili" type="date"  value="2003-06-12" required>-->
<!--                    </div>-->
<!--                    <div class="input-field">-->
<!--                        <label>Familya</label>-->
<!--                        <input class="input_fam" type="text" placeholder="Familya" required>-->
<!--                    </div>-->
<!--                    <div class="input-field">-->
<!--                        <label>Telefon raqami</label>-->
<!--                        <input class="input_tel" type="tel" value="+998 9" required>-->
<!--                    </div>-->
<!--                   -->
<!--                    <div class="input-field">-->
<!--                        <label>Talab Qilinayotgan Fan</label>-->
<!--                        <input class="input_fan" type="text" placeholder="Fanni kiriting" required>-->
<!--                    </div> -->
<!--                   -->
<!--                </div>-->
<!--                -->
<!--                <div class="buttons">-->
<!--                    -->
<!--                    <button type="submit" class="sumbit">-->
<!--                        <span class="btnText">Submit</span>t-->
<!--                    </button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    -->
<!--    </form>-->
<!--    </section> -->
    <section class="select_student hidden">
        <h3>Kutish jadvaliga o'quvchini qo'shish</h3>
        <form method="post">{% csrf_token %}
            <i class="fa-solid fa-xmark fa-xl"></i>
            <p>So'rov jadvalidan o'quvchini tanlang!</p>
            <select name="sorov" >
                {% for i in kutush %}
                <option value="{{i.id}}">{{i.ism}} {{i.fam}} | {{i.kurs_fk}}</option>
                {% endfor %}
            </select>
            
            <div class="form_input">
                <input type="text" name="batafsil"  placeholder="Batafsil ...">
                <!-- <input type="text"  placeholder="tel">
                <input type="text"  placeholder="guruhi"> -->
            </div>
            <button>kiritish</button>
        </form>
        </section>

    <script src="{% static './admin_from.js' %}"></script>
    <script src="{% static '/table.js' %}"></script>
    <script src="{% static '/standart.js' %}"></script>
</body>
</html>