<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mofaqiyatli To'lov</title>
  <link rel="stylesheet" href="{% static 'mofaqiyat.css' %}">
</head>
<body>
  <div class="container">
    <h2 class="title"> <br> Muvaffaqiyatli</h2>
    <p class="description">Mentor uchun to'lov muvaffaqiyatli amalga oshirildi!</p>
    <a class="subscribe-button" href="/asosiy/moliya/">Asosiy bo'limga qaytish</a>
    <div class="ribbon-wrap">
      <div class="ribbon">Nodirbek EDU</div>
    </div>
  </div>
</body>
</html>