<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Yechib olish </title>
    <link rel="stylesheet" href="{% static 'moliya_form.css' %}">
   </head>

<body>
  <div class="wrapper">
    <h2>Oylik to'lovlarni yechib olish</h2>
    <form method="post"> {% csrf_token %}
      <div class="input-box">
            <select name="oy_nomi" >
                <option value="Yanvar">Yanvar</option>
                <option value="Fevral">Fevral</option>
                <option value="Mart">Mart</option>
                <option value="Aprel">Aprel</option>
                <option value="May">May</option>
                <option value="Iyun">Iyun</option>
                <option value="Iyul">Iyul</option>
                <option value="Avgust">Avgust</option>
                <option value="Sentyabr">Sentyabr</option>
                <option value="Oktyabr">Oktyabr</option>
                <option value="Noyabr">Noyabr</option>
                <option value="Dekabr">Dekabr</option>
            </select>
      </div>
      <div class="input-box">
        <select name="kurs_nomi" >
            {% for i in kurs_nomi %}
            <option value="{{i.id}}">{{i.nom}}</option>
            {% endfor %}
        </select>
  </div>

<!--      <div class="input-box">-->
<!--        <input type="number" placeholder="qwerty" required>-->
<!--      </div>-->
      <div class="input-box button">
        <input type="Submit" value="Yechib Olish">
      </div>
      <div class="text">
        <h3> <a href="/asosiy/moliya/"> Asosiy menyuga qaytish </a> ||  <a href="/asosiy/kursSummasi/">Narxni o'zgartirish</a></h3>
      </div>
    </form>
  </div>

  <style>

  </style>
</body>
</html>