<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

    <!-- root CSS -->
    <link rel="stylesheet" href="{% static 'root.css' %}">
    <!-- standart CSS -->
    <link rel="stylesheet" href="{% static 'standart.css' %}">

   <!-- table CSS -->
    <link rel="stylesheet" href="{% static 'table.css' %}">
</head>
<body>

    <nav class="navbar">
		<div class="logo_item">
		  <i class="fa-solid fa-bars" id="sidebarOpen"></i>
		  <img src="images/logo.png" alt=""></i>NodirbekADU
		</div>
		<div class="search_bar">
			 <p>Ustozlar oynasi</p>
		</div>
		<div class="navbar_content">
		  <i class="bi bi-grid"></i>
		  <i class='bx' id="darkLight"></i>
		  <i class='bx bx-bell' ></i>
		  <img src="images/profile.jpg" alt="" class="profile" />
		</div>
	  </nav>
	  <!-- sidebar -->
	  <nav class="sidebar">
		<div class="menu_content">
		  <ul class="menu_items">
			<div class="menu_title menu_dahsboard"></div>
			<!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
			<!-- start -->
			<li class="item">
				<a href="/mentor/indexteacher" class="nav_link">
				  <span class="navlink_icon">
					<i class="fa-solid fa-chart-line"></i>
				  </span>
				  <span class="navlink"> Dashboard</span>
				</a>
			  </li>
	
			  <li class="item">
				<a href="/mentor/reja" class="nav_link">
				  <span class="navlink_icon">
					<i class="fa-solid fa-layer-group"></i>                  </span>
				  <span class="navlink"> O'quv Rejasi</span>
				</a>
			  </li>
			  <li class="item">
				<a href="/mentor/guruh" class="nav_link">
				  <span class="navlink_icon">
					<i class="fa-solid fa-people-group"></i>                  </span>
				  <span class="navlink"> Guruhlar</span>
				</a>
			  </li>
			  <li class="item">
				<a href="/mentor/saqlamalar" class="nav_link">
				  <span class="navlink_icon">
					<i class="fa-solid fa-bookmark"></i>              </span>
				  <span class="navlink"> Saqlamalar</span>
				</a>
			  </li>
			  <li class="item">
				<a href="#" class="nav_link">
				  <span class="navlink_icon">
					<i class="fa-solid fa-notes-medical"></i>                  </span>
				  <span class="navlink">Notion</span>
				</a>
			  </li>
		  </ul>
	
		  <!-- Sidebar Open / Close -->
		  <div class="bottom_content">
			<div class="bottom expand_sidebar">
			  <span> Expand</span>
			  <i class="fa-solid fa-right-to-bracket"></i>
			</div>
			<div class="bottom collapse_sidebar">
			  <span> Collapse</span>
			  <i class="fa-solid fa-arrow-left"></i>
			</div>
		  </div>
		</div>
	  </nav>
    <main class="table">
        <section class="table__header">
            <h1>O'zlashtirish</h1>

      
            <div class="input-group">
                <input type="search" placeholder="Search Data...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="export__file">
                <label for="export-file" class="export__file-btn" title="Export File"><i class="fa-solid fa-download"></i></label>
                <input type="checkbox" id="export-file">
                <div class="export__file-options">
                    <label>Export As &nbsp; &#10140;</label>
                    <label for="export-file" id="toPDF">PDF <img src="images/pdf.png" alt=""></label>
                    <label for="export-file" id="toJSON">JSON <img src="images/json.png" alt=""></label>
                    <label for="export-file" id="toCSV">CSV <img src="images/csv.png" alt=""></label>
                    <label for="export-file" id="toEXCEL">EXCEL <img src="images/excel.png" alt=""></label>
                </div>
            </div>
        </section>
        <section class="table__body">


               <form  method="post"> {% csrf_token %}
            <table id="customers_table">
                <thead>
                <br>

             <tr>
                <select name="mavzu" >
                    <option disabled>Mavzu tanlang...</option>
                    {% for i in mavzu %}
                  <option value="{{i.id}}">{{forloop.counter}}.{{i.nom}}</option>
                 {% endfor %}
                </select>
                </tr>

                <input  type="number" min="0" name="umumiy_ball" >
<br>
                    <tr>
                        <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Talaba <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Tug'ulgan sana <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Telefon raqami <span class="icon-arrow">&UpArrow;</span></th>
                        <th> bilim <span class="icon-arrow">&UpArrow;</span></th>
                        <th> Ball <span class="icon-arrow">&UpArrow;</span></th>
                    </tr>
                </thead>
                <tbody>
                {% for i in talabalar %}
                    <tr>
                        <td> {{forloop.counter}} </td>
                        <td> {{i.ism}} {{i.fam}}</td>
                        <td> {{i.tugulgan_sana}}</td>
                        <td>  {{i.tel_1}} </td>
                        <td>
                            <p class="status alo">Alo</p>
                        </td>
                        <td> <input type="number" min="0" name="min_{{ i.id }}" > </td>
                    </tr>
                {% endfor %}
                    
                </tbody>
            </table>
            <div class="btn_submit"> <button type="submit"> Kiritish</button> </div>
                   </form>
          </section>

    </main>

    <style>
        tr td input{
            width: 50px;
        }
    </style>
    <script src="{% static '/table.js' %}"></script>
    <script src="{% static '/standart.js' %}"></script>
    
</body>
</html>